<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>flatmass 1.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>240</integer>
			<key>height</key>
			<integer>240</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>240</integer>
			<key>originalHeight</key>
			<integer>240</integer>
		</dict>
		<key>flatmass 2.png</key>
		<dict>
			<key>x</key>
			<integer>242</integer>
			<key>y</key>
			<integer>483</integer>
			<key>width</key>
			<integer>240</integer>
			<key>height</key>
			<integer>240</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>240</integer>
			<key>originalHeight</key>
			<integer>240</integer>
		</dict>
		<key>flatmass 3.png</key>
		<dict>
			<key>x</key>
			<integer>242</integer>
			<key>y</key>
			<integer>724</integer>
			<key>width</key>
			<integer>240</integer>
			<key>height</key>
			<integer>240</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>240</integer>
			<key>originalHeight</key>
			<integer>240</integer>
		</dict>
		<key>flatmass 4.png</key>
		<dict>
			<key>x</key>
			<integer>483</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>240</integer>
			<key>height</key>
			<integer>240</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>240</integer>
			<key>originalHeight</key>
			<integer>240</integer>
		</dict>
		<key>flatmass 5.png</key>
		<dict>
			<key>x</key>
			<integer>483</integer>
			<key>y</key>
			<integer>242</integer>
			<key>width</key>
			<integer>320</integer>
			<key>height</key>
			<integer>205</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>320</integer>
			<key>originalHeight</key>
			<integer>205</integer>
		</dict>
		<key>flatmass 6.png</key>
		<dict>
			<key>x</key>
			<integer>483</integer>
			<key>y</key>
			<integer>448</integer>
			<key>width</key>
			<integer>320</integer>
			<key>height</key>
			<integer>199</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>320</integer>
			<key>originalHeight</key>
			<integer>199</integer>
		</dict>
		<key>flatmass 7.png</key>
		<dict>
			<key>x</key>
			<integer>483</integer>
			<key>y</key>
			<integer>648</integer>
			<key>width</key>
			<integer>261</integer>
			<key>height</key>
			<integer>240</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>261</integer>
			<key>originalHeight</key>
			<integer>240</integer>
		</dict>
		<key>flatmass 8.png</key>
		<dict>
			<key>x</key>
			<integer>804</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>112</integer>
			<key>height</key>
			<integer>240</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>112</integer>
			<key>originalHeight</key>
			<integer>240</integer>
		</dict>
		<key>flatmass 9.png</key>
		<dict>
			<key>x</key>
			<integer>804</integer>
			<key>y</key>
			<integer>242</integer>
			<key>width</key>
			<integer>172</integer>
			<key>height</key>
			<integer>240</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>172</integer>
			<key>originalHeight</key>
			<integer>240</integer>
		</dict>
		<key>flatmass 10.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>242</integer>
			<key>width</key>
			<integer>186</integer>
			<key>height</key>
			<integer>240</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>186</integer>
			<key>originalHeight</key>
			<integer>240</integer>
		</dict>
		<key>flatmass 11.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>483</integer>
			<key>width</key>
			<integer>240</integer>
			<key>height</key>
			<integer>240</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>240</integer>
			<key>originalHeight</key>
			<integer>240</integer>
		</dict>
		<key>flatmass 12.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>724</integer>
			<key>width</key>
			<integer>240</integer>
			<key>height</key>
			<integer>240</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>240</integer>
			<key>originalHeight</key>
			<integer>240</integer>
		</dict>
		<key>flatmass 13.png</key>
		<dict>
			<key>x</key>
			<integer>242</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>240</integer>
			<key>height</key>
			<integer>240</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>240</integer>
			<key>originalHeight</key>
			<integer>240</integer>
		</dict>
		<key>flatmass 14.png</key>
		<dict>
			<key>x</key>
			<integer>242</integer>
			<key>y</key>
			<integer>242</integer>
			<key>width</key>
			<integer>240</integer>
			<key>height</key>
			<integer>240</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>240</integer>
			<key>originalHeight</key>
			<integer>240</integer>
		</dict>
	</dict>
</dict>
</plist>