<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>lars1.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>149</integer>
			<key>height</key>
			<integer>164</integer>
			<key>offsetX</key>
			<real>9</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>195</integer>
			<key>originalHeight</key>
			<integer>167</integer>
		</dict>
		<key>lars2.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>166</integer>
			<key>width</key>
			<integer>160</integer>
			<key>height</key>
			<integer>165</integer>
			<key>offsetX</key>
			<real>3.5</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>195</integer>
			<key>originalHeight</key>
			<integer>167</integer>
		</dict>
		<key>lars3.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>332</integer>
			<key>width</key>
			<integer>170</integer>
			<key>height</key>
			<integer>165</integer>
			<key>offsetX</key>
			<real>-1.5</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>195</integer>
			<key>originalHeight</key>
			<integer>167</integer>
		</dict>
		<key>lars4.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>498</integer>
			<key>width</key>
			<integer>177</integer>
			<key>height</key>
			<integer>163</integer>
			<key>offsetX</key>
			<real>-5</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<integer>195</integer>
			<key>originalHeight</key>
			<integer>167</integer>
		</dict>
		<key>lars5.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>662</integer>
			<key>width</key>
			<integer>149</integer>
			<key>height</key>
			<integer>163</integer>
			<key>offsetX</key>
			<real>9</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<integer>195</integer>
			<key>originalHeight</key>
			<integer>167</integer>
		</dict>
		<key>lars6.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>826</integer>
			<key>width</key>
			<integer>110</integer>
			<key>height</key>
			<integer>163</integer>
			<key>offsetX</key>
			<real>28.5</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<integer>195</integer>
			<key>originalHeight</key>
			<integer>167</integer>
		</dict>
		<key>lars7.png</key>
		<dict>
			<key>x</key>
			<integer>179</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>131</integer>
			<key>height</key>
			<integer>167</integer>
			<key>offsetX</key>
			<real>18</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>195</integer>
			<key>originalHeight</key>
			<integer>167</integer>
		</dict>
	</dict>
</dict>
</plist>