<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>lost 1.png</key>
		<dict>
			<key>x</key>
			<integer>221</integer>
			<key>y</key>
			<integer>229</integer>
			<key>width</key>
			<integer>219</integer>
			<key>height</key>
			<integer>232</integer>
			<key>offsetX</key>
			<real>-13.5</real>
			<key>offsetY</key>
			<real>-6</real>
			<key>originalWidth</key>
			<integer>284</integer>
			<key>originalHeight</key>
			<integer>244</integer>
		</dict>
		<key>lost 2.png</key>
		<dict>
			<key>x</key>
			<integer>221</integer>
			<key>y</key>
			<integer>462</integer>
			<key>width</key>
			<integer>218</integer>
			<key>height</key>
			<integer>232</integer>
			<key>offsetX</key>
			<real>-14</real>
			<key>offsetY</key>
			<real>-6</real>
			<key>originalWidth</key>
			<integer>284</integer>
			<key>originalHeight</key>
			<integer>244</integer>
		</dict>
		<key>losing 1.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>208</integer>
			<key>height</key>
			<integer>240</integer>
			<key>offsetX</key>
			<real>-19</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<integer>284</integer>
			<key>originalHeight</key>
			<integer>244</integer>
		</dict>
		<key>losing 2.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>242</integer>
			<key>width</key>
			<integer>212</integer>
			<key>height</key>
			<integer>235</integer>
			<key>offsetX</key>
			<real>-17</real>
			<key>offsetY</key>
			<real>-4.5</real>
			<key>originalWidth</key>
			<integer>284</integer>
			<key>originalHeight</key>
			<integer>244</integer>
		</dict>
		<key>losing 3.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>478</integer>
			<key>width</key>
			<integer>213</integer>
			<key>height</key>
			<integer>242</integer>
			<key>offsetX</key>
			<real>-16.5</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>284</integer>
			<key>originalHeight</key>
			<integer>244</integer>
		</dict>
		<key>losing 4.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>721</integer>
			<key>width</key>
			<integer>219</integer>
			<key>height</key>
			<integer>214</integer>
			<key>offsetX</key>
			<real>-13.5</real>
			<key>offsetY</key>
			<real>-15</real>
			<key>originalWidth</key>
			<integer>284</integer>
			<key>originalHeight</key>
			<integer>244</integer>
		</dict>
		<key>losing 5.png</key>
		<dict>
			<key>x</key>
			<integer>221</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>221</integer>
			<key>height</key>
			<integer>227</integer>
			<key>offsetX</key>
			<real>-12.5</real>
			<key>offsetY</key>
			<real>-8.5</real>
			<key>originalWidth</key>
			<integer>284</integer>
			<key>originalHeight</key>
			<integer>244</integer>
		</dict>
		<key>winning 1.png</key>
		<dict>
			<key>x</key>
			<integer>221</integer>
			<key>y</key>
			<integer>695</integer>
			<key>width</key>
			<integer>259</integer>
			<key>height</key>
			<integer>239</integer>
			<key>offsetX</key>
			<real>6.5</real>
			<key>offsetY</key>
			<real>-2.5</real>
			<key>originalWidth</key>
			<integer>284</integer>
			<key>originalHeight</key>
			<integer>244</integer>
		</dict>
		<key>winning 2.png</key>
		<dict>
			<key>x</key>
			<integer>481</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>242</integer>
			<key>height</key>
			<integer>239</integer>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>-2.5</real>
			<key>originalWidth</key>
			<integer>284</integer>
			<key>originalHeight</key>
			<integer>244</integer>
		</dict>
		<key>winning 3.png</key>
		<dict>
			<key>x</key>
			<integer>481</integer>
			<key>y</key>
			<integer>241</integer>
			<key>width</key>
			<integer>250</integer>
			<key>height</key>
			<integer>244</integer>
			<key>offsetX</key>
			<real>-9</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>284</integer>
			<key>originalHeight</key>
			<integer>244</integer>
		</dict>
		<key>winning 4.png</key>
		<dict>
			<key>x</key>
			<integer>481</integer>
			<key>y</key>
			<integer>486</integer>
			<key>width</key>
			<integer>256</integer>
			<key>height</key>
			<integer>241</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>284</integer>
			<key>originalHeight</key>
			<integer>244</integer>
		</dict>
		<key>winning 5.png</key>
		<dict>
			<key>x</key>
			<integer>481</integer>
			<key>y</key>
			<integer>728</integer>
			<key>width</key>
			<integer>259</integer>
			<key>height</key>
			<integer>244</integer>
			<key>offsetX</key>
			<real>-3.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>284</integer>
			<key>originalHeight</key>
			<integer>244</integer>
		</dict>
		<key>won 1.png</key>
		<dict>
			<key>x</key>
			<integer>741</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>165</integer>
			<key>height</key>
			<integer>239</integer>
			<key>offsetX</key>
			<real>-40.5</real>
			<key>offsetY</key>
			<real>-2.5</real>
			<key>originalWidth</key>
			<integer>284</integer>
			<key>originalHeight</key>
			<integer>244</integer>
		</dict>
		<key>won 2.png</key>
		<dict>
			<key>x</key>
			<integer>741</integer>
			<key>y</key>
			<integer>241</integer>
			<key>width</key>
			<integer>251</integer>
			<key>height</key>
			<integer>244</integer>
			<key>offsetX</key>
			<real>-16.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>284</integer>
			<key>originalHeight</key>
			<integer>244</integer>
		</dict>
		<key>won 3.png</key>
		<dict>
			<key>x</key>
			<integer>741</integer>
			<key>y</key>
			<integer>486</integer>
			<key>width</key>
			<integer>243</integer>
			<key>height</key>
			<integer>239</integer>
			<key>offsetX</key>
			<real>-17.5</real>
			<key>offsetY</key>
			<real>-2.5</real>
			<key>originalWidth</key>
			<integer>284</integer>
			<key>originalHeight</key>
			<integer>244</integer>
		</dict>
	</dict>
</dict>
</plist>