<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>normal 1.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>175</integer>
			<key>height</key>
			<integer>189</integer>
			<key>offsetX</key>
			<real>-10</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>221</integer>
			<key>originalHeight</key>
			<integer>190</integer>
		</dict>
		<key>normal 2.png</key>
		<dict>
			<key>x</key>
			<integer>409</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>191</integer>
			<key>height</key>
			<integer>189</integer>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>221</integer>
			<key>originalHeight</key>
			<integer>190</integer>
		</dict>
		<key>normal 3.png</key>
		<dict>
			<key>x</key>
			<integer>409</integer>
			<key>y</key>
			<integer>191</integer>
			<key>width</key>
			<integer>187</integer>
			<key>height</key>
			<integer>190</integer>
			<key>offsetX</key>
			<real>-4</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>221</integer>
			<key>originalHeight</key>
			<integer>190</integer>
		</dict>
		<key>normal 4.png</key>
		<dict>
			<key>x</key>
			<integer>409</integer>
			<key>y</key>
			<integer>382</integer>
			<key>width</key>
			<integer>186</integer>
			<key>height</key>
			<integer>189</integer>
			<key>offsetX</key>
			<real>-4.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>221</integer>
			<key>originalHeight</key>
			<integer>190</integer>
		</dict>
		<key>normal 5.png</key>
		<dict>
			<key>x</key>
			<integer>409</integer>
			<key>y</key>
			<integer>572</integer>
			<key>width</key>
			<integer>198</integer>
			<key>height</key>
			<integer>190</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>221</integer>
			<key>originalHeight</key>
			<integer>190</integer>
		</dict>
		<key>normal 6.png</key>
		<dict>
			<key>x</key>
			<integer>409</integer>
			<key>y</key>
			<integer>763</integer>
			<key>width</key>
			<integer>200</integer>
			<key>height</key>
			<integer>189</integer>
			<key>offsetX</key>
			<real>2.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>221</integer>
			<key>originalHeight</key>
			<integer>190</integer>
		</dict>
		<key>normal 7.png</key>
		<dict>
			<key>x</key>
			<integer>610</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>206</integer>
			<key>height</key>
			<integer>188</integer>
			<key>offsetX</key>
			<real>5.5</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>221</integer>
			<key>originalHeight</key>
			<integer>190</integer>
		</dict>
		<key>normal 8.png</key>
		<dict>
			<key>x</key>
			<integer>610</integer>
			<key>y</key>
			<integer>190</integer>
			<key>width</key>
			<integer>154</integer>
			<key>height</key>
			<integer>189</integer>
			<key>offsetX</key>
			<real>-20.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>221</integer>
			<key>originalHeight</key>
			<integer>190</integer>
		</dict>
		<key>normal 9.png</key>
		<dict>
			<key>x</key>
			<integer>610</integer>
			<key>y</key>
			<integer>380</integer>
			<key>width</key>
			<integer>172</integer>
			<key>height</key>
			<integer>188</integer>
			<key>offsetX</key>
			<real>-11.5</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>221</integer>
			<key>originalHeight</key>
			<integer>190</integer>
		</dict>
		<key>normal 10.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>191</integer>
			<key>width</key>
			<integer>173</integer>
			<key>height</key>
			<integer>190</integer>
			<key>offsetX</key>
			<real>-11</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>221</integer>
			<key>originalHeight</key>
			<integer>190</integer>
		</dict>
		<key>normal 11.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>382</integer>
			<key>width</key>
			<integer>172</integer>
			<key>height</key>
			<integer>188</integer>
			<key>offsetX</key>
			<real>-11.5</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>221</integer>
			<key>originalHeight</key>
			<integer>190</integer>
		</dict>
		<key>normal 12.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>571</integer>
			<key>width</key>
			<integer>154</integer>
			<key>height</key>
			<integer>189</integer>
			<key>offsetX</key>
			<real>-20.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>221</integer>
			<key>originalHeight</key>
			<integer>190</integer>
		</dict>
		<key>normal 13.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>761</integer>
			<key>width</key>
			<integer>206</integer>
			<key>height</key>
			<integer>188</integer>
			<key>offsetX</key>
			<real>5.5</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>221</integer>
			<key>originalHeight</key>
			<integer>190</integer>
		</dict>
		<key>normal 14.png</key>
		<dict>
			<key>x</key>
			<integer>208</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>200</integer>
			<key>height</key>
			<integer>189</integer>
			<key>offsetX</key>
			<real>2.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>221</integer>
			<key>originalHeight</key>
			<integer>190</integer>
		</dict>
		<key>normal 15.png</key>
		<dict>
			<key>x</key>
			<integer>208</integer>
			<key>y</key>
			<integer>191</integer>
			<key>width</key>
			<integer>198</integer>
			<key>height</key>
			<integer>190</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>221</integer>
			<key>originalHeight</key>
			<integer>190</integer>
		</dict>
		<key>normal 16.png</key>
		<dict>
			<key>x</key>
			<integer>208</integer>
			<key>y</key>
			<integer>382</integer>
			<key>width</key>
			<integer>186</integer>
			<key>height</key>
			<integer>189</integer>
			<key>offsetX</key>
			<real>-4.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>221</integer>
			<key>originalHeight</key>
			<integer>190</integer>
		</dict>
		<key>normal 17.png</key>
		<dict>
			<key>x</key>
			<integer>208</integer>
			<key>y</key>
			<integer>572</integer>
			<key>width</key>
			<integer>187</integer>
			<key>height</key>
			<integer>190</integer>
			<key>offsetX</key>
			<real>-4</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>221</integer>
			<key>originalHeight</key>
			<integer>190</integer>
		</dict>
		<key>normal 18.png</key>
		<dict>
			<key>x</key>
			<integer>208</integer>
			<key>y</key>
			<integer>763</integer>
			<key>width</key>
			<integer>191</integer>
			<key>height</key>
			<integer>189</integer>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>221</integer>
			<key>originalHeight</key>
			<integer>190</integer>
		</dict>
	</dict>
</dict>
</plist>