<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>record 1 half.png</key>
		<dict>
			<key>x</key>
			<integer>379</integer>
			<key>y</key>
			<integer>194</integer>
			<key>width</key>
			<integer>188</integer>
			<key>height</key>
			<integer>190</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>3</real>
			<key>originalWidth</key>
			<integer>200</integer>
			<key>originalHeight</key>
			<integer>200</integer>
		</dict>
		<key>record 1 transparent.png</key>
		<dict>
			<key>x</key>
			<integer>190</integer>
			<key>y</key>
			<integer>194</integer>
			<key>width</key>
			<integer>188</integer>
			<key>height</key>
			<integer>190</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>3</real>
			<key>originalWidth</key>
			<integer>200</integer>
			<key>originalHeight</key>
			<integer>200</integer>
		</dict>
		<key>record 1.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>194</integer>
			<key>width</key>
			<integer>188</integer>
			<key>height</key>
			<integer>190</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>3</real>
			<key>originalWidth</key>
			<integer>200</integer>
			<key>originalHeight</key>
			<integer>200</integer>
		</dict>
		<key>record 2 half.png</key>
		<dict>
			<key>x</key>
			<integer>761</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>184</integer>
			<key>height</key>
			<integer>181</integer>
			<key>offsetX</key>
			<real>6</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>200</integer>
			<key>originalHeight</key>
			<integer>200</integer>
		</dict>
		<key>record 2 transparent.png</key>
		<dict>
			<key>x</key>
			<integer>576</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>184</integer>
			<key>height</key>
			<integer>181</integer>
			<key>offsetX</key>
			<real>6</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>200</integer>
			<key>originalHeight</key>
			<integer>200</integer>
		</dict>
		<key>record 2.png</key>
		<dict>
			<key>x</key>
			<integer>391</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>184</integer>
			<key>height</key>
			<integer>181</integer>
			<key>offsetX</key>
			<real>6</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>200</integer>
			<key>originalHeight</key>
			<integer>200</integer>
		</dict>
		<key>record 3 half.png</key>
		<dict>
			<key>x</key>
			<integer>196</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>194</integer>
			<key>height</key>
			<integer>192</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>200</integer>
			<key>originalHeight</key>
			<integer>200</integer>
		</dict>
		<key>record 3 transparent.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>194</integer>
			<key>height</key>
			<integer>192</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>200</integer>
			<key>originalHeight</key>
			<integer>200</integer>
		</dict>
	</dict>
</dict>
</plist>